[buildout]
extensions = 
    buildout.threatlevel
    buildout.dumppickedversions
unzip = true
parts = 
    instance
    test
extends =
    http://good-py.appspot.com/release/dexterity/1.0.3?plone=4.1.2
versions = versions
develop = 
    .

[versions]
collective.xmltestreport = 1.2.2
zope.testrunner = 4.0.4

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = 
    plone.app.vulnerabilities
    
[test]
recipe = collective.xmltestreport
eggs =
    plone.app.vulnerabilities[test]
defaults = ['--auto-color', '--auto-progress']