table#vulninfo { 
    width: 100%;
    padding: .5em 0;
}

table#vulninfo td {
    color: grey;
    text-align:center;
    text-transform: uppercase;
    border: 0;
    border-bottom:1px solid white;
    padding: 4px 0 4px 4px;
}

table#vulninfo th {
    color: black;
    text-align: right;
    border: 0;
    border-bottom:1px solid white;
    padding: 4px 4px 4px 0;
}

html table#vulninfo td.score {
    font-size: 140%;
    font-weight: bold;
}

table#vulninfo td.low {
    background-color: #3F3;
    color: black;
}

table#vulninfo td.medium {
    background-color: #FC3;
    color: black;
}

table#vulninfo td.high {
    background-color: #F00;
    color: white;
}


table#hotfixes .good,table#hotfixes .bad {
    font-weight:bold;
}

table#hotfixes .good {
    background-color:#DFF0D8 !important;
}

table#hotfixes .bad {
    background-color:#F2DEDE !important;
}

table#hotfixes th {
    background-color:#AAA;
    color: #FFF;
    padding:0.5em 1em !important;
}

table#hotfixes .non_supported_version {
    display: none;
}


.show_unsupported_version {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
   margin: 10px;
}